@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-display: Inter;
  --font-body: Inter;
  --font-brand: Erstoria, serif;

  --background-image-action-secondary-background: var(--actionSecondaryBackground);
  --background-image-action-secondary-background-hover: var(--actionSecondaryBackgroundHover);

  --color-primary: #b8dee8;
  --color-primary-dark: #3b838c;
  --color-background1: var(--background1);
  --color-background2: var(--background2);
  --color-background3: var(--background3);
  --color-background4: var(--background4);
  --color-background5: var(--background5);
  --color-background-input: var(--background-input);
  --color-action-primary-background: var(--actionPrimaryBackground);
  --color-action-primary-background-hover: var(--actionPrimaryBackgroundHover);
  --color-action-primary-text: var(--actionPrimaryText);
  --color-action-primary-text-hover: var(--actionPrimaryTextHover);
  --color-action-secondary-text: var(--actionSecondaryText);
  --color-action-secondary-text-hover: var(--actionSecondaryTextHover);
  --color-box-shadows-action-secondary: var(--boxShadows-action-secondary);
  --color-border1: var(--border1);
  --color-border2: var(--border2);
  --color-border3: var(--border3);
  --color-text1: var(--text1);
  --color-text2: var(--text2);
  --color-text3: var(--text3);

  --shadow-wf-input:
    0px 1px 1px -1px rgba(0, 0, 0, 0.13) inset, 0px 3px 3px -3px rgba(0, 0, 0, 0.17) inset,
    0px 4px 4px -4px rgba(0, 0, 0, 0.17) inset, 0px 8px 8px -8px rgba(0, 0, 0, 0.17) inset,
    0px 12px 12px -12px rgba(0, 0, 0, 0.13) inset, 0px 16px 16px -16px rgba(0, 0, 0, 0.13) inset, 0 0 0 1px #2496ff;

  --text-sm: 0.78rem;
  --text-base: 0.92rem;
  --text-lg: 1.1rem;
  --text-xl: 1.25rem;
  --text-2xl: 2.5rem;
  --text-4xl: 5rem;
}

@font-face {
  font-family: 'Radley';
  src: url('../public/fonts/Radley-Regular.ttf');
}

@font-face {
  font-family: 'Erstoria';
  src: url('../public/fonts/Erstoria.woff2');
}
